---
Language:        Cpp
AlwaysBreakTemplateDeclarations: true
BasedOnStyle:  WebKit
BinPackParameters: false
BreakBeforeBraces: Allman
ColumnLimit: 120
Cpp11BracedListStyle: true
NamespaceIndentation: All
PointerAlignment: Middle
SpacesInParentheses: true
SortUsingDeclarations: false
AllowShortFunctionsOnASingleLine: None

